{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">
    Verify Signed Document
</h2>

<div class="card shadow">
<div class="card-body">

    <h4 class="mb-4">
        Upload Document for Verification
    </h4>

    <form method="POST" enctype="multipart/form-data">

        <div class="mb-3">

            <input
                type="file"
                name="file"
                class="form-control"
                required
            >

        </div>

        <button class="btn btn-primary">
            Verify Document
        </button>

    </form>

    {% if result %}

        <hr>

        {% if "VALID" in result %}
            <div class="alert alert-success">
                ✔ {{ result }}
            </div>
        {% else %}
            <div class="alert alert-danger">
                ✖ {{ result }}
            </div>
        {% endif %}

    {% endif %}

</div>
</div>

{% endblock %}
